.advantages {
    background-image: url(../img/pale-mountains-desk.jpg);
    background-size: cover;
    background-position: center;
    background-color: $color-back-blue;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
        background: url(../img/pale-mountains-desk-2x.jpg) no-repeat;
    }
}

.advantages__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
}

.advantages__head {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

.advantages__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
}

.advantages__list {
    display: flex;
    padding: 0; 
    justify-content: space-around;
}

.advantages__item {
   max-width: 350px;
    height: 241px;
    background-color: $color-font--main;
}

@media (max-width: $tablet-width) {
    .advantages {
        background-image: url(../img/pale-mountains-tablet.jpg);
        background-size: cover;
        background-position: center;
        background-color: $color-back-blue;
    
        @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
            background: url(../img/pale-mountains-tablet-2x.jpg) no-repeat;
        }
    }
}

@media (max-width: $mobile-width) {
    .advantages {
        background-image: url(../img/pale-mountains-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-color: $color-back-blue;
    
        @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
            background: url(../img/pale-mountains-mobile-2x.jpg) no-repeat;
        }
    }
}