.advantages {
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(../img/pale-mountains-desk.jpg);
    background-size: cover;
    background-position: center;
    background-color: $color-back-blue;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
        background: url(../img/pale-mountains-desk-2x.jpg) no-repeat;
    }
}

.advantages__wrap {
    max-width: 1160px;
    margin: 0 auto;
}

.advantages__title {
    margin-bottom: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
}

.advantages__head {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

.advantages__description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
}

.advantages__list {
    display: flex;
    padding: 0; 
    justify-content: space-between;
}

.advantages__item {
    position: relative;
    max-width: 350px;
    height: 241px;
    padding-left: 30px;
    padding-top: 87px;
    background-color: $color-font--main;
}

.advantages__item::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
}

.advantages__item--liner::before {
    width: 27px;
    height: 32px;
    background-image: url(../img/icon-liner.svg);
}

.advantages__item--allincluse::before {
    width: 38px;
    height: 21px;
    background-image: url(../img/icon-allinclusive.svg);
}

.advantages__item--zodiac::before {
    width: 42px;
    height: 15px;
    background-image: url(../img/icon-zodiac.svg);
}

@media (max-width: $tablet-width) {
    .advantages {
        background-image: url(../img/pale-mountains-tablet.jpg);
        background-size: cover;
        background-position: center;
        background-color: $color-back-blue;
    
        @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
            background: url(../img/pale-mountains-tablet-2x.jpg) no-repeat;
        }
    }
}

@media (max-width: $mobile-width) {
    .advantages {
        background-image: url(../img/pale-mountains-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-color: $color-back-blue;
    
        @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
            background: url(../img/pale-mountains-mobile-2x.jpg) no-repeat;
        }
    }
}