.cruises {
  padding-top: 80px;
}

.cruises__wrap {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.cruises__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
}

.cruises__list {
  width: 100%;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cruises__item {
  min-width: 230px;
  width: calc(100% / 4 - 25px);
  margin-top: 30px;
  position: relative;
  background-color: $color-mobile--menu;
  color: $color-font--main;
  transition: all ease 0.7s;
}

.cruises__picture {
  background-color: $color-cruises--back;
  min-height: 386px;
  min-width: 230px;
  width: 100%;
  position: relative;
  z-index: 2;
}

.cruises__item:hover .cruises__picture {
  opacity: 0;
  z-index: -1;
}

.cruises__buttom:focus .cruises__picture {
  opacity: 0;
  z-index: -1;
}

.cruises__head {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

.cruises__head--close {
  position: absolute;
  bottom: 7px;
  left: 30px;
}

.cruises__head--open {
  margin-bottom: 15px;
}

.cruises__description {
  padding-left: 20px;
  width: calc(100% - 24px);
  height: 100%;
  position: absolute;
  top: 0;
}

.cruises__details {
  width: calc(100% - 25px);
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 140%;
}

.cruises dt {
  font-weight: 500;
}

.cruises dd {
  margin: 0;
  margin-bottom: 13px;
  color: $color-cruises;
}

.cruises__button {
  display: block;
  width: 165px;
  padding-top: 17px;
  padding-bottom: 10px;
  padding-left: 45px;
  background-color: $color-font--main;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $color-mobile--menu;
}

.cruises img {
  width: 100%;
}

@media (max-width: $tablet-width) {
  .cruises {
    padding-top: 60px;
  }

  .cruises__title {
    margin-bottom: 50px;
    font-size: 26px;
    text-shadow: 0 4px 4px $color-shadow;
  }

  .cruises__item {
    width: 309px;
    margin-top: 0;
    margin-bottom: 26px;
    box-shadow: 0 4px 4px $color-shadow;
  }

  .cruises__wrap {
    width: 650px;
    margin-bottom: 70px;
  }

  .cruises__picture {
    width: 309px;
  }

  .cruises__head--close {
    bottom: 11px;
  }

  .cruises__description {
    width: 309px;
  }

  .cruises__button {
    width: 180px;
    padding-left: 60px;
  }
}

@media (max-width: $mobile-width) {
  .cruises {
    padding-top: 40px;
  }

  .cruises__wrap {
    width: 270px;
    margin-bottom: 35px;
  }

  .cruises__title {
    margin-bottom: 27px;
    font-size: 24px;
    text-shadow: none;
  }

  .cruises__item {
    max-width: 270px;
    box-shadow: none;
  }

  .cruises__list {
    margin-top: 0;
  }

  .cruises__head--close {
    bottom: 0;
  }

  .cruises__picture {
    width: 270px;
  }

  .cruises__description {
    max-width: 250px;
  }

  .cruises__button {
    width: 220px;
    margin-top: 25px;
    text-align: center;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
