.footer {
  background-color: $color-mobile--menu;
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer__wrap {
  width: calc(100% - 206px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  width: 590px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 40px;
}

.footer__nav {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.footer__a {
  margin-bottom: 5px;
  color: $color-font--main;
}

@media (max-width: $tablet-width) {
  .footer {
    padding-top: 30px;
  }

  .footer__a {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__menu {
    width: 445px;
    margin-left: 20px;
  }

  .footer__wrap {
    width: calc(100% - 100px);
  }
}

@media (max-width: $mobile-width) {
  .footer {
    padding-top: 40px;
  }

  .footer__wrap {
    width: calc(100% - 40px);
    flex-direction: column;
    align-items: stretch;
  }

  .footer__menu {
    flex-direction: column;
    padding-left: 0;
    width: 280px;
    margin-left: 0;
  }

  .footer__item {
    margin-bottom: 12px;
  }

  .footer__a {
    width: 42px;
    height: 22px;
    margin-bottom: 9px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__nav {
    flex-direction: column;
    align-items: stretch;
  }
}
