.header__nav-container {
    width: 100%;
    min-height: 650px;
    background: url(../img/main-photo-desk.png) no-repeat; 
    background-size: cover;
    background-position: center;    
    background-color: $color-back;
    color: $color-font--main;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
        background: url(../img/main-photo-desk-2x.png) no-repeat;
    }
}

.header__br {
    display: none;
}

.header__nav-nojs {
    display: none;
}

.header__button {
    display: none;
    width: 24px;
    height: 12px;
    border: none;
    background: url(../img/burger.svg);

}

.header__button--close {
    display: none;
    background: url(../img/close.svg) no-repeat;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 0 auto;
    padding-top: 28px;
}

.header__logo--mobile {
    display: none;
}

.header__menu {
    padding-left: 20px;
    display: flex; 
    justify-content: space-between;
    max-width: 590px;
    white-space: nowrap;
}

.header__item {
    margin-right: 34px;
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header__a {
    text-decoration: none;
    color: $color-font--main;
}

.header__title {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;  
    text-align: left;
}

.header__span {
    margin-top: 12px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;  
    text-align: left;
}

.header__entry {
    width: 966px;
    margin: 0 auto;
    margin-top: 190px;
}

@media (max-width: $tablet-width) {
    .header__nav-container {
        background-image: url(../img/main-photo-tablet.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;    
        background-color: $color-back;
     
        @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
            background: url(../img/main-photo-tablet-2x.png) no-repeat;
        }
    }

    .header__logo {
        width: 38px;
        height: 20px;
    }

    .header__item {
        margin-right: 0;
        font-size: 14px;
        line-height: 17px;
    }

    .header__nav {
        width: 690px;
        padding-top: 20px;
        justify-content: space-between;
    }

    .header__entry {
        width: 680px;
        margin: 0 auto;
        padding-top: 180px;
    }

    .header__menu {
        width: 510px;
        padding-right: 10px;
    }

    .header__title {
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
    }

    .header__span {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: $mobile-width) {
    .header__nav-container {
        min-height: 380px;
        padding-top: 121px;
        background: url(../img/main-photo-mobile.png) no-repeat;
        background-position: top;    
        background-color: $color-back;
        height: auto;
        position: relative;

        @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
            background: url(../img/main-photo-mobile-2x.png) no-repeat;
        }
    }

    .header__br {
        display: inline;
    }

    .header__logo--mobile {
        display: block;
        padding-left: 15px;
    }

    .header__nav {
        display: none;
        position: absolute;
        padding-top: 20px;
        padding-left: 15px;
        z-index: 6;
        flex-direction: column;
        justify-content: stretch;
        width: 320px;
        height: 299px;
        margin: 0 auto;
        background-color: $color-font--main;
    }

    .header__nav-nojs {
        display: flex;
        padding-top: 20px;
        padding-left: 15px;
        flex-direction: column;
        width: 320px;
        height: 299px;
        margin: 0 auto;
        background-color: $color-font--main;
    }

    .header__menu {
        padding-left: 0;
        padding-top: 25px;
        flex-direction: column;
        justify-content: space-around;
    }

    .header__item {
        margin-top: 0;
        margin-bottom: 21px;
        font-size: 18px;
        line-height: 22px;
    }

    .header__a {
        text-decoration: none;
        color: $color-mobile--menu;
    }

    .header__entry {
        width: 220px;
        width: 285px;
        margin: auto;
        margin-top: 0;
        padding-top: 60px;
    }

    .header__title {
        width: 265px;
        margin-top: 0;
        margin-bottom: 0px;
        font-size: 36px;
        line-height: 125%;
    }

    .header__span {
        width: 200px;
        font-size: 16px;
        line-height: 140%;
    }

    .header__close {
        display: none;
    }
}
