.pinguins {
    padding-top: 120px;
    padding-bottom: 120px;
}

.pinguins__wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.pinguins__container {
    width: 515px;
    padding-top: 40px;
}

.pinguins__title {
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: 600;
    line-height: 150%;
}

.pinguins__description {
    margin-top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

@media (max-width: $tablet-width) {
    .pinguins {
        padding-top: 90px;
        padding-bottom: 70px;
    }
    .pinguins__container {
        width: 325px;
        padding-top: 0;
    }

    .pinguins__title {
        width: 209px;
        margin-top: 0;
        padding-top: 0;
        font-weight: 600;
        font-size: 26px;
        line-height: 140%;
    }

    .pinguins__span {
        display: block;
        width: 300px;
    }

    .pinguins__img {
        margin-top: 10px;
    }
}

@media (max-width: $mobile-width) {
    .pinguins {
        padding-top: 55px;
        padding-bottom: 65px;
    }

    .pinguins__container {
        width: 290px;
    }

    .pinguins__title {
        font-size: 24px;
    }

    .pinguins__wrap {
        width: 300px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pinguins__description {
        margin-bottom: 30px;
    }

    .pinguins__span {
        width: 300px;
    }
}

