.social {
  min-width: 150px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.social__item {
  margin-left: 30px;
  margin-bottom: 5px;
}

.social__icon {
  display: block;
  width: 20px;
  height: 20px;
}

@media (max-width: $tablet-width) {
  .social {
    width: 140px;
    justify-content: right;
  }

  .social__icon {
    width: 15px;
    height: 15px;
  }

  .social__item {
    margin-left: 20px;
  }
}

@media (max-width: $mobile-width) {
  .social {
    margin: 0;
    padding: 0;
    justify-content: left;
  }

  .social__item {
    margin-left: 0;
    margin-right: 20px;
  }
}
