body {
    font-family: $font-montserrat;
    color: #011C40;
    background-color: $color-font--main;
}

a {
    text-decoration: none;
    cursor: pointer
}

input {
    cursor: pointer
}

a[href]:hover {
    opacity: 0.5;
    transition: all ease 0.5s;
}

li {
    list-style: none;
}