$font-montserrat: "Montserrat", "Arial", sans-serif;
$color-font--main: #f9fbfd;
$color-back-blue: #d8e5f4;
$color-back: #00306b;
$color-shadow: rgba(0, 0, 0, 0.25);
$color-cruises: #d8d8d9;
$color-mobile--menu: #011c40;
$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
