$font-montserrat: "Montserrat", "Arial", sans-serif;
$color-font--main: #f9fbfd;

$color-back: #00306b;
$color-mobile--menu: #011C40;
$tablet-width: 1023px;
$mobile-width:767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
